@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Recipekorea';
    src: url('/fonts/Recipekorea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Pretendard', 'Recipekorea', sans-serif;
    background-color: #FBFFFC;
    color: #2C2C2C;
}