@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Recipekorea';
    src: url('/fonts/Recipekorea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}